{% extends "layouts/base.njk" %}

{% block content %}
    {# Temporary starter content #}
    <section>
        <h1>{{title}}</h1>
        <img src="{{hero.image}}" alt="{{hero.alt}}">
    </section>
    {# End starter content #}
{% endblock %}