{% extends "layouts/base.njk" %}

{% block content %}
    {# Temporary starter content #}
    <section class="[ container ] [ height__full valign__center ]">
        <h1 class="text_align__center">{{title}}</h1>
        <img src="{{hero.image}}" alt="{{hero.alt}}">
    </section>
    {# End starter content #}
{% endblock %}