{% extends "layouts/base.njk" %}

{% set pageStylesheets = ['css/styles.css'] %}

{% block content %}
    {# Temporary starter content #}
    <section class="container">
        <h1 class="text_align__center">{{title}}</h1>
        {% picture hero.image, hero.alt, '[ width__100 ]' %}
    </section>
    {# End starter content #}
{% endblock %}