{% extends "layouts/base.njk" %}

{% block content %}
    {# Temporary starter content #}
    <section class="container">
        {% picture hero.image, hero.alt, '[ w__100 ]' %}
        <h2>{{hero_title}}</h2>
    </section>
    {# End starter content #}
{% endblock %}