extends ./base

block variables 
    - var template = 'home'

block content 
    div(data-template=template)
        section.container 
            div !{filters.image(hero.image, hero.alt)}
            h2=hero.title