body {
  --color-primary: tomato;
  --color-secondary: wheat;
  --font-main: helvetica, arial, sans-serif;
  --gap: 0px;
  /* Breakpoints */
  --bp-small: 48em;
  --bp-medium: 64em;
  --bp-large: 85.375em;
  --bp-xlarge: 120em;
  --bp-xxlarge: 160em;
}
