<header class="container">
        <div class=" flex jc__between ai__center">
        <h1 class="ta__center">{{site.name}}</h1>
        <nav>
            <a href="https://google.com">Google</a>
        </nav>
    </div>
</header>