<header class="container">
    <div class="[ flex ] [ jc__between ai__center ]">
        <h1 class="[ ta__center ]">{{site.name}}</h1>
        <nav class="flex">
            <a href="https://github.com/frzrbox/static">Docs</a>
        </nav>
    </div>
</header>