{% set navigation = header.data.navigation %}

<header class="[ container ] [ flex jc__between ai__center ]">
    <h1 class="ta__center"><a href="/">{{site.name}}</a></h1>

    <nav>
        <ul role="list" class="flex"> 
            {% for item in navigation %}
                <li>
                    {# shortcode link content classNames target #}
                    {% link item.link, item.label, 'nav_link', item.link.target %}
                </li>
            {% endfor %}
            <li>
                <a href="https://google.com">Google</a>
            </li>
        </ul> 
    </nav>
</header>